---
name: saturn

services:
  saturn:
    build:
      context: ../..
      dockerfile: ./build/saturn/Dockerfile
    image: saturn:latest
    environment:
      - POSTGRES_HOST=pg-database
      - POSTGRES_PORT=5432
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - JWT_SECRET=supersecretkey
      - SWAGGER_UI_URL=http://swagger-ui:8080
    ports:
      - 3000:3000
    depends_on:
      - pg-database
      - swagger-ui
    develop:
      watch:
        - action: rebuild
          path: ../../internal

  pg-database:
    extends:
      file: postgres.yaml
      service: pg-database

  pg-web:
    extends:
      file: postgres.yaml
      service: pg-web

  swagger-ui:
    extends:
      file: swagger.yaml
      service: swagger-ui

volumes:
  postgres-data:

networks:
  default:
    name: saturn
    external: true
