---
name: saturn

services:
  pg-database:
    extends:
      file: postgres.yaml
      service: pg-database

  pg-web:
    extends:
      file: postgres.yaml
      service: pg-web

volumes:
  postgres-data:

networks:
  default:
    name: saturn
    external: true
