---
name: saturn

services:
  pg-database:
    extends:
      file: postgres.yaml
      service: pg-database

  pg-web:
    extends:
      file: postgres.yaml
      service: pg-web

  swagger-ui:
    extends:
      file: swagger.yaml
      service: swagger-ui

volumes:
  postgres-data:

networks:
  default:
    name: saturn
    external: true
