---
openapi: 3.0.0

info:
  title: Saturn Personal Productivity Suite

servers:
  - url: http://localhost:3000
    description: Local server

paths:
  /finance/budgest:
    get:
      summary: List all budgets
      operationId: finance.ListBudgets
      responses:
        "200":
          description: Budgets list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBudgetsResponse'
    post:
      summary: Create a new budget
      operationId: finance.CreateBudget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
      responses:
        "201":
          description: Create budget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
  /finance/currencies:
    get:
      summary: List currencies
      operationId: finance.ListCurrencies
      responses:
        "200":
          description: Currencies list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCurrenciesResponse'
    post:
      summary: Create a new currency
      operationId: budget.CreateCurrency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Currency'
      responses:
        "201":
          description: Create budget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'

components:
  schemas:
    ListBudgetsResponse:
      type: object
      description: Response of list of budgets.
      required:
        - budgets
      properties:
        budgets:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Budget'
    Budget:
      type: object
      description: A budget to track expenses
      required:
        - name
        - amount
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
    ListCurrenciesResponse:
      type: object
      description: Response of list of currencies.
      required:
        - currencies
      properties:
        currencies:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Currency'
    Currency:
      type: object
      description: A currency to handle exchange reates in budgets, transactions, etc.
      required:
        - name
        - code
        - rate
      properties:
        code:
          type: string
          description: ISO 4217 currency code (e.g., "USD", "DOP").
          minLength: 3
          maxLength: 3
          example: "DOP"
        name:
          type: string
          description: Name of the currency (e.g., "Dominican Pesos")
          minLenght: 3
          maxLenght: 50
          example: "Dominican Pesos"
        rate:
          type: number
          format: double
          description: The exchange rate for the currency againts the base currency.
          example: 60.50
    Money:
      Money:
      type: object
      description: |
        Standard representation of a monetary value using minor units (cents) and ISO 4217 currency code.
      properties:
        cents:
          type: integer
          format: int64
          description: The amount in the smallest denomination (e.g., cents).
          example: 400000
        currency:
          type: string
          description: ISO 4217 currency code (e.g., "USD", "DOP").
          minLength: 3
          maxLength: 3
          example: "DOP"
      required:
        - cents
        - currency
